<div class="container-fluid">
    <div class="row">
        <div style="background-color:antiquewhite; height:50vh">
            <div class="row">
                <div class="col-3 text-end">
                    <img src="{{castDetails.profilePath}}" style="height:50vh" />
                </div>
                <div class="col-5 offset-1 text-center">
                    <h1 class="text-dark pt-3">{{castDetails.name}}</h1>
                    <h3 class="text-secondary pt-3">
                        {{castDetails.gender}}
                    </h3>
                    <a href="{{castDetails.tmdbUrl}}" target="_blank">
                        <button type="button" class="btn btn-dark mt-3">
                            TMDB Page
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h2 class="text-secondary">Movies</h2>
        <hr />
        <div class="rounded">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-sm-4 col-lg-3 col-6" *ngFor="let m of castDetails.movies">
                        <div class="card mb-4">
                            <a [routerLink]="['/Movie-Details/', m.id]" class="text-decoration-none text-black">
                                <img src="{{m.posterUrl}}" class="img-fluid" alt="{{m.title}}" />
                                <div class="container-fluid">
                                    <h6>
                                        {{m.title}}
                                    </h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>